@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Plus+Jakarta+Sans:wght@500;600&family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Navigation Bar Start */

.NavigationBar {
    background-color: #D5E5F5;
}

.NavLogo {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #3781E3;
    text-decoration: none;
}

.NavLinks {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #00214D;
    text-decoration: none;
}


/* Landing Page start */

.LandingPage{
    background-color: #D5E5F5;
}

.VetinaryClinic {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #00214D;
}

.LandingPageH1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 150%;
    color: #00214D;
}

.LandingPageP {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: rgba(58, 58, 58, 0.75);
}

.LandingPageButton {
    background: #3781E3;
}
.LandingPageButtont {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    border-radius: 1vw;
}

/* Start Services */




.ServicesLandingPage {
    background: white;
}


.ServicesH1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    color: #00214D;
}

.ServicesP {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    color: #3A3A3A;
}

.CardTitle {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #00214D;
}

.CardText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: rgba(58, 58, 58, 0.75);
    
}